<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Admin panel</title>
</head>

<header>
    <nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0">
        <span class="navbar-text col-md-10 text-white">
            <b th:text="${current_user.email}"></b>
            with roles:
            <i th:text="${current_user.roles}"></i>
        </span>

        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
        </ul>
    </nav>
</header>


<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-2 p-0 bg-white">
            <ul class="nav nav-pills flex-column mt-3">
                <li sec:authorize="hasAuthority('admin')" class="nav-item mt-1">
                    <a class="nav-link active" data-toggle="tab" href="#admin-info">Admin</a>
                </li>

                <li  class="nav-item mt-1">
                    <a class="nav-link" data-toggle="tab" href="#user-info">User</a>
                </li>
            </ul>
        </div>

        <div class="col-md-10 bg-light min-vh-100">
            <div class="tab-content">
                <div class="tab-pane fade show active mt-2" id="admin-info">
                    <h2 class="h2">Admin Panel</h2>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#users-table">Users table</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#new-user">New User</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="users-table">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="h5">All Users</h5>
                                </div>

                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                        <tr th:each="user :${users_list}">
                                            <td th:text="${user.id}"></td>
                                            <td th:text="${user.firstName}"></td>
                                            <td th:text="${user.lastName}"></td>
                                            <td th:text="${user.email}"></td>
                                            <td th:text="${user.roles}"></td>
                                            <td>
                                                <button th:value="${user.id}"
                                                        type="button"
                                                        class="btn btn-info"
                                                        data-toggle="modal"
                                                        th:data-target="'#modalEdit' + ${user.id}"
                                                        name="id">
                                                    Edit
                                                </button>
                                            </td>
                                            <td>
                                                <button th:value="${current_user.id}"
                                                        type="button"
                                                        class="btn btn-danger"
                                                        data-toggle="modal"
                                                        th:data-target="'#modalDelete' + ${user.id}"
                                                        name="id">
                                                    Delete
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <!-- Modal Edit User -->
                                    <div th:each="user :${users_list}" class="modal fade" th:id="'modalEdit' + ${user.id}"
                                         tabindex="-1" role="dialog" aria-labelledby="ModalEditLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalEditLabel">Edit user</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body text-center font-weight-bold">
                                                    <div class="form justify-content-center">
                                                        <form th:action="@{/save}"
                                                              method="POST">
                                                            <div class="form-group">
                                                                <label for="id_edit">ID</label>
                                                                <input type="number" class="form-control"
                                                                       id="id_edit" name="id"
                                                                       th:value="${user.id}" readonly>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="firstname_edit">First Name</label>
                                                                <input type="text" class="form-control"
                                                                       id="firstname_edit" name="firstName"
                                                                       th:value="${user.firstName}">
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="lastname_edit">Last Name</label>
                                                                <input type="text" class="form-control"
                                                                       id="lastname_edit" name="lastName"
                                                                       th:value="${user.lastName}">
                                                            </div>


                                                            <div class="form-group">
                                                                <label for="email_edit">Email</label>
                                                                <input type="text" class="form-control"
                                                                       id="email_edit" name="email"
                                                                       th:value="${user.email}" required>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="password_edit">Password</label>
                                                                <input type="password" class="form-control"
                                                                       id="password_edit" name="password" required>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="roles_edit">Roles</label>
                                                                <select class="custom-select"
                                                                        th:size="${allRoles.size()}" id="roles_edit"
                                                                        name="roles" multiple required>
                                                                    <option th:each="role :${allRoles}"
                                                                            th:value="${role.id}"
                                                                            th:text="${role.name}"></option>
                                                                </select>
                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <button type="submit" class="btn btn-primary">Edit
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal Delete User -->
                                    <div th:each="user :${users_list}" class="modal fade"
                                         th:id="'modalDelete' + ${user.id}"
                                         tabindex="-1" role="dialog" aria-labelledby="ModalDeleteLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="ModalDeleteLabel">Delete user</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body text-center font-weight-bold">
                                                    <div class="form justify-content-center">
                                                        <form th:action="@{/delete/{id}(id=${user.id})}"
                                                              method="POST">
                                                            <div class="form-group">
                                                                <label for="id_delete">ID</label>
                                                                <input type="number" class="form-control"
                                                                       id="id_delete" name="id"
                                                                       th:value="${user.id}" readonly>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="firstname_delete">First Name</label>
                                                                <input type="text" class="form-control"
                                                                       id="firstname_delete" name="firstname"
                                                                       th:value="${user.firstName}" readonly>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="lastname_delete">Last Name</label>
                                                                <input type="text" class="form-control"
                                                                       id="lastname_delete" name="lastname"
                                                                       th:value="${user.lastName}" readonly>
                                                            </div>

                                                            <div class="form-group">
                                                                <label for="email_delete">Email</label>
                                                                <input type="text" class="form-control"
                                                                       id="email_delete" name="email"
                                                                       th:value="${user.email}" readonly>
                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                                <button type="submit" class="btn btn-danger">Delete
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="new-user">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="h5">Add new user</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row justify-content-center text-center">
                                        <form th:action="@{/save}" method="POST">
                                            <div class="form-group">
                                                <label for="firstname">First Name</label>
                                                <input type="text" class="form-control"
                                                       id="firstname" name="firstName">
                                            </div>
                                            <div class="form-group">
                                                <label for="lastname">Last Name</label>
                                                <input type="text" class="form-control"
                                                       id="lastname" name="lastName">
                                            </div>

                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input type="text" class="form-control"
                                                       id="email" name="email" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="password">Password</label>
                                                <input type="password" class="form-control"
                                                       id="password" name="password" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="roles">Roles</label>
                                                <select class="custom-select" th:size="${allRoles.size()}" id="roles"
                                                        name="roles" multiple required>
                                                    <option th:each="role :${allRoles}" th:value="${role.id}"
                                                            th:text="${role.name}"></option>
                                                </select>
                                            </div>

                                            <button class="btn btn-success" type="submit">Add new user</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade mt-2" id="user-info">
                    <h2 class="h2">User information-page</h2>
                    <div class="card">
                        <div class="card-header">
                            <h5 class="h5">About User</h5>
                        </div>

                        <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td th:text="${current_user.id}"></td>
                                    <td th:text="${current_user.firstName}"></td>
                                    <td th:text="${current_user.lastName}"></td>
                                    <td th:text="${current_user.email}"></td>
                                    <td th:text="${current_user.roles}"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>
</html>