<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New</title>
</head>
<body>
<form method="post" th:action="@{save}" th:object="${user}">
    <input th:field="*{id}" type="hidden"/>
    <div>
        <label>Firstname:</label>
        <input placeholder="Firstname" th:field="*{firstName}" type="text"/>
    </div>
    <br>
    <div>
        <label>Lastname:</label>
        <input placeholder="Lastname" th:field="*{lastName}" type="text"/>
    </div>
    <br>
    <div>
        <label>Email:</label>
        <input placeholder="Email" th:field="*{email}" type="text" required/>
    </div>
    <br>
    <div>
        <label>Password:</label>
        <input placeholder="Password" th:field="*{password}" type="text" required/>
    </div>
    <div>
        <select th:size="${allRoles.size()}"
                th:field="*{roles}"
                multiple required>
            <option th:each="role : ${allRoles}"
                    th:text="${role.getName()}"
                    th:value="${role.getId()}">
            </option>
        </select>
    </div>
    <br>
    <input type="submit" value="Submit"/>
</form>
</body>
</html>