<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>


<table>
    <thead>
    <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user : ${users_list}">
        <td th:text="${user.getFirstName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td>
            <form th:action="@{edit/{id}(id=${user.getId()})}">
                <button type="submit">Edit</button>
            </form>
        </td>
        <td>
            <form th:action="@{delete/{id}(id=${user.getId()})}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>

    </tbody>
</table>
<form th:action="@{new}">
    <button type="submit">New</button>
</form>
</body>
</html>